<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.android.com.myapplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RestaurantActivity"
            android:label="@string/title_activity_restaurant"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MenuJourActivity"
            android:label="Menu du jour" />
        <activity
            android:name=".CommanderActivity"
            android:label="Commande" />
        <activity
            android:name=".ReserverActivity"
            android:label="Réservation" />
        <activity
            android:name=".FormuleBinaireActivity"
            android:label="@string/title_activity_formule_binaire"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RestaurantActivity" />
        </activity>
        <activity
            android:name=".LesMenusActivity"
            android:label="@string/title_activity_les_menus"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RestaurantActivity" />
        </activity>
        <activity android:name=".MenuDesMenusActivity"
            android:label="Choix du menu"></activity>
    </application>

</manifest>