<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.android.com.RestoPresto">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="example.android.com.RestoPresto.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="example.android.com.RestoPresto.RestaurantActivity"
            android:label="@string/title_activity_restaurant"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.android.com.RestoPresto.MainActivity" />
        </activity>
        <activity
            android:name="example.android.com.RestoPresto.MenuJourActivity"
            android:label="Menu du jour">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.android.com.RestoPresto.RestaurantActivity" />
        </activity>
        <activity
            android:name="example.android.com.RestoPresto.CommanderActivity"
            android:label="Commande" />
        <activity
            android:name="example.android.com.RestoPresto.ReserverActivity"
            android:label="Réservation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.android.com.RestoPresto.RestaurantActivity" />
        </activity>
        <activity
            android:name="example.android.com.RestoPresto.FormuleBinaireActivity"
            android:label="@string/title_activity_formule_binaire"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.android.com.RestoPresto.MenuDesMenusActivity" />
        </activity>
        <activity
            android:name="example.android.com.RestoPresto.LesMenusActivity"
            android:label="@string/title_activity_les_menus"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.android.com.RestoPresto.MenuDesMenusActivity" />
        </activity>
        <activity
            android:name="example.android.com.RestoPresto.MenuDesMenusActivity"
            android:label="Choix du menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.android.com.RestoPresto.RestaurantActivity" />
        </activity>
        <activity android:name="example.android.com.RestoPresto.InfosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.android.com.RestoPresto.RestaurantActivity" />
        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/bundle_key"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>